-- Migration: Add missing payment details to influencer_profiles
ALTER TABLE influencer_profiles 
ADD COLUMN IF NOT EXISTS razorpay_account_id TEXT,
ADD COLUMN IF NOT EXISTS bank_account_name TEXT;

-- Add comment for clarity
COMMENT ON COLUMN influencer_profiles.razorpay_account_id IS 'Razorpay Linked Account ID for Route transfers';
COMMENT ON COLUMN influencer_profiles.bank_account_name IS 'Full name of the bank account holder';

